
<div class="inputform" style="float:left;">
    <h2 class="design">Compose Mail Form</h2>
    <form action="/compose/process">
        <table>
            <tr>
                <td><label for="mail-to">To:</label></td>
                <td><input id="mail-to" type="text" name="to"/></td>
            </tr>
            <tr>
                <td><label for="mail-subject">Subject:</label></td>
                <td><input id="mail-subject" type="text" name="subject"/></td>
            </tr>
            <tr>
                <td colspan="2"><label for="mail-message">Message:</label></td><td>
            </tr>
            <tr>
                <td colspan="2"><textarea id="mail-message" name="message" rows="5" cols="30"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input id="submit" type="submit" value="Send Mail"/></td>
            </tr>
        </table>
    </form>
</div>
