<a href="/index.html">Home</a> |
<a href="/mailer/inbox">Inbox</a> |
<a href="/mailer/compose">Compose Mail</a> |
<a href="/mailer/send">Sent Mail</a> |
<a href="/mailer/trash">Trash</a> |
<a href="/logout">Logout</a>
<hr/>

 
