<div class="inputform" style="float:right;">
    <h2 class="design">Login Form</h2>
    <form action="/login" method="post">
        <table>
            <tr>
                <td><label for="login-email">Email:</label></td><td>
                <input id="login-email" type="email" name="email"/></td>
            </tr>
            <tr>
                <td><label for="login-password">Password:</label></td>
                <td><input id="login-password" type="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2"><input id="submit" type="submit" value="login"/></td>
            </tr>
        </table>
    </form>
</div>